$classic-blue: #0F2652; 

$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 32px;
$spacing-l: 64px;
$page-container-margin: 8vw;
$navbar-height: 63px;

$screen-s: 480px;
$screen-m: 600px;
$screen-l: 900px;