.career {
  width: 100vw;
  padding-top: 77px;
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
}
// desktop
@media (min-width: 678px) {
  .career {
    .content {
      width: 60%;
    }
  }
}
